[Unit]
Description=Soter-Hostapd
After=generic-board-startup.service
Before=bb-wl18xx-wlan0.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /opt/apispoint/soter/hostapd-cfg.sh

[Install]
WantedBy=multi-user.target